.poster {
  width: 97%;
  position: fixed;
  z-index: -1;
}

.details {
  padding: 10px;
  position: absolute;
  top: 70%;
  background-color: rgba(0, 0, 0, 0.76);

  p {
    color: lightgray;
    margin-bottom: 20PX;
  }

  h3 {
    text-align: center;
    color: rgb(130, 0, 72);
    border-top: 1px solid white;
    padding-top: 10px;
  }

  h1 {
    color: white;
  }

  .info {
    text-align: center;
  }

  hr {
    color: lightgray;
  }

  .rating {
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    font-size: 2rem;
    justify-content: center;

    ion-icon {
      color: yellow;
    }
  }
}
