.selection {
  display: flex;
  justify-content: center;
  form {
    width: 100%;

    ion-checkbox {
      margin-right: 20px;
      margin-top: 10px;
      margin-left: 15px;
    }

    ion-list {
      margin-right: 15px;
    }

    ion-searchbar {
      width: 100%;
    }

    .check {
      display: flex;
      justify-content: center;
    }

    .filter-box {
      display: flex;
      justify-content: space-between;
    }
  }
}

ion-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
